<div class="container">
    <mat-card style="padding: 20px; margin: 20px;">
        <mat-card-header>
            <mat-card-title>To Do List</mat-card-title>
        </mat-card-header>
        <mat-form-field class="example-form-field">
            <mat-label>Enter Task</mat-label>
            <input matInput type="text" [(ngModel)]="addTaskValue" (keyup.enter)="addTask()">
            <button  matSuffix mat-icon-button aria-label="Clear" type="button" (click)="addTask()">
              <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
        <mat-card-content>
            <div class="todo-list">
                <mat-divider></mat-divider>
                <div class="todo-item" *ngFor="let task of taskArr">
    
                    <mat-checkbox (click)="finishTask(task)" class="todo-name" [ngClass]="{'finished': task.finished}" [(ngModel)]="task.finished" >{{ task.task_name }}</mat-checkbox>
                    <div class="todo-action">
                        <button mat-icon-button color="primary" data-bs-toggle="modal" type="button" data-bs-target="#exampleModal" (click)="call(task)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteTask(task)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            
        </mat-card-content>
    </mat-card>
</div>


<!-- ikut tutorial -->
<!-- <div class="container-fluid bg-light">
    <div class="container bg-light">
        
        <div class="row mt-4" style="height: 500px;">

            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <div class="cart bg-warning mt-4">
                    <h4 class="text-white ps-3 pt-2 pb-2">To Do List</h4>
                </div>

                <div class="shadow">                    
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)]="addTaskValue">
                        <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
                    </div>
                </div>

                <h4 class="text-primary mt-4"> Task :</h4>

                <div style="overflow-y: auto; height: 350px;">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p2 shadow">
                            <div class="input-group row ps-3">
                                <div class="card col-md-10 border-0"> {{ task.task_name }}</div>
                                <button class="btn btn-outline-primary col me-2"  data-bs-toggle="modal" type="button" data-bs-target="#exampleModal" (click)="call(task)">e</button>
                                <div class="btn btn-outline-danger col" (click)="deleteTask(task)">X</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                                    
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter task" name="task" [(ngModel)]="editTaskValue">
                                <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal" (click)="editTask()">Update</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="col"></div>

        </div>
    </div>
</div> -->